<IfModule mod_rewrite.c>
    RewriteEngine on
    # NEEDED FOR RACKSPACE HOSTING # RewriteBase /
    # RewriteBase /
   	RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>